{% extends "base.html" %}

{% block title %}Password Reset Confirm Page{% endblock title %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
        <h4 class="card-title mb-4">Pssword Reste</h4>
        <form action="{% url 'password_reset_confirm' %}" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <input type="password" name="new_password1" id="newpass1" required value="{{form.new_password1.value|default:''}}">
                <label for="newpass1">New Password</label>
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <span class="input-error">{{error|striptags}}</span>
                    {% endfor %}
                {% endif %}
            </div> <!-- form-group// -->
            <div class="form-group">
                <input type="password" name="new_password2" id="newpass2" required value="{{form.new_password2.value|default:''}}">
                <label for="newpass2">Confirm New Password</label>
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <span class="input-error">{{error|striptags}}</span>
                    {% endfor %}
                {% endif %}
            </div> <!-- form-group// -->

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </div> <!-- form-group// -->
        </form>
    </div> <!-- card-body.// -->
</div> <!-- card .// -->

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}