{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock title %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
    <div class="row">

        {% include 'includes/dashboard_sidebar.html' %}

        <main class="col-md-9">
            <h4>Edit Your Profile</h4>
            <hr>
            <form action="{% url 'edit_profile' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" name="first_name" class="form-control" id="fname" value="{{user_form.first_name.value|default:''}}">
                    </div>
                    <div class="col-md-6">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="lname" value="{{user_form.last_name.value|default:''}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email" value="{{user_form.email.value|default:''}}">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" name="phone" class="form-control" id="phone" value="{{profile_form.phone.value|default:''}}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="city" class="form-label">City</label>
                        <input type="text" name="city" class="form-control" id="city" value="{{profile_form.city.value|default:''}}">
                    </div>
                    <div class="col-md-4">
                        <label for="state" class="form-label">State</label>
                        <input type="text" name="state" class="form-control" id="state" value="{{profile_form.state.value|default:''}}">
                    </div>
                    <div class="col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" class="form-control" id="country" value="{{profile_form.country.value|default:''}}">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" name="address" class="form-control" id="address" value="{{profile_form.address.value|default:''}}">
                </div>
                <input type="submit" value="Save" class="btn btn-primary" style="float: right;">
            </form>
        </main>
    </div>
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}